* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

a {
  text-decoration: none;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.home {
  width: 100%;
  height: 100vh;
  position: relative;
}

.home .container {
  width: 92%;
  padding: 0px;
  margin: 5vh auto 0px;
  box-shadow: 0px 0px 10px 3px rgb(192, 192, 192);
  height: 90vh;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-image: url("../images/leaves.jpg");
  background-position: center;
  background-size: cover;
}

.home .container .overLay {
  width: 100%;
  padding: 10% 0px;
  position: absolute;
  inset: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.home .container .overLay .title {
  text-align: center;
}

.home .container .overLay .title h1 {
  font-size: 120px;
  margin: 20px 0px 10px;
}

.home .container .overLay .title h3 {
  font-size: 50px;
  color: #3e5e2c;
  /* text-shadow: 2px 2px 5px rgb(153, 211, 190); */
  margin-top: 15px;
}
.home .downBotton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  animation: upDown 1.7s linear infinite;
  -webkit-animation: upDown 1.7s linear infinite;
}

.home .downBotton a {
  font-size: 30px;
  padding: 20px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: rgb(62, 94, 44);
  background: linear-gradient(
    300deg,
    rgba(62, 94, 44, 1) 11%,
    rgba(158, 205, 131, 1) 99%
  );
  color: #ffffff;
  font-weight: bold;
}

@keyframes upDown {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  25% {
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
  }
  50% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  75% {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
  }
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

@media (max-width: 1200px) {
  .home .container {
    margin-top: 20px;
  }
  .home .container .overLay .title h1 {
    font-size: 100px;
    margin: 20px 0px;
  }

  .home .container .overLay .title h3 {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .home .container .overLay .title h1 {
    font-size: 60px;
    margin: 20px 0px;
  }

  .home .container .overLay .title h3 {
    font-size: 30px;
  }
  .home .downBotton {
    margin-top: 30px;
  }
  .home .downBotton a {
    font-size: 18px;
    padding: 15px 15px;
  }
}
